In [4]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns

In [26]:
os.path.exists(r'E:\Training Second Year\infectious-diseases-by-county-year-and-sex.csv')

True

In [27]:
df = pd.read_csv(r'E:\Training Second Year\infectious-diseases-by-county-year-and-sex.csv')
df.head()

,Disease,County,Year,Sex,Cases,Population,Lower 95% CI,Upper 95% CI,Rate
0,Amebiasis,ALAMEDA,2001,FEMALE,7.0,746596,0.377,1.932,0.938*
1,Amebiasis,ALAMEDA,2001,MALE,9.0,718968,0.572,2.376,1.252*
2,Amebiasis,ALAMEDA,2001,TOTAL,16.0,1465564,0.624,1.773,1.092*
3,Anaplasmosis and Ehrlichiosis,ALAMEDA,2001,FEMALE,0.0,746596,0.000,0.494,-
4,Anaplasmosis and Ehrlichiosis,ALAMEDA,2001,MALE,0.0,718968,0.000,0.513,-

In [28]:
df.iloc[10:21]

,Disease,County,Year,Sex,Cases,Population,Lower 95% CI,Upper 95% CI,Rate
10,Babesiosis,ALAMEDA,2001,MALE,0.0,718968,0.0,0.513,-
11,Babesiosis,ALAMEDA,2001,TOTAL,0.0,1465564,0.0,0.252,-
12,"Botulism, Foodborne",ALAMEDA,2001,FEMALE,0.0,746596,0.0,0.494,-
13,"Botulism, Foodborne",ALAMEDA,2001,MALE,0.0,718968,0.0,0.513,-
14,"Botulism, Foodborne",ALAMEDA,2001,TOTAL,0.0,1465564,0.0,0.252,-
15,"Botulism, Other",ALAMEDA,2001,FEMALE,0.0,746596,0.0,0.494,-
16,"Botulism, Other",ALAMEDA,2001,MALE,0.0,718968,0.0,0.513,-
17,"Botulism, Other",ALAMEDA,2001,TOTAL,0.0,1465564,0.0,0.252,-
18,"Botulism, Wound",ALAMEDA,2001,FEMALE,0.0,746596,0.0,0.494,-
19,"Botulism, Wound",ALAMEDA,2001,MALE,0.0,718968,0.0,0.513,-
20,"Botulism, Wound",ALAMEDA,2001,TOTAL,0.0,1465564,0.0,0.252,-

In [29]:
df.describe()

,Year,Cases,Population,Lower 95% CI,Upper 95% CI
count,154344.000000,150602.000000,1.543440e+05,150083.000000,150083.000000
mean,2009.788991,10.324677,8.449279e+05,0.667443,22.024867
std,5.190337,137.911319,3.514416e+06,5.286432,73.936024
min,2001.000000,0.000000,5.630000e+02,0.000000,0.009000
25%,2005.000000,0.000000,2.920500e+04,0.000000,1.241000
50%,2010.000000,0.000000,1.251840e+05,0.000000,4.080000
75%,2014.000000,0.000000,4.199700e+05,0.000000,14.257000
max,2018.000000,9488.000000,3.982518e+07,344.974000,653.077000

In [30]:
df.rename(columns={'Unnamed: 0':'model'},inplace=True)
df

,Disease,County,Year,Sex,Cases,Population,Lower 95% CI,Upper 95% CI,Rate
0,Amebiasis,ALAMEDA,2001,FEMALE,7.0,746596,0.377,1.932,0.938*
1,Amebiasis,ALAMEDA,2001,MALE,9.0,718968,0.572,2.376,1.252*
2,Amebiasis,ALAMEDA,2001,TOTAL,16.0,1465564,0.624,1.773,1.092*
3,Anaplasmosis and Ehrlichiosis,ALAMEDA,2001,FEMALE,0.0,746596,0.000,0.494,-
4,Anaplasmosis and Ehrlichiosis,ALAMEDA,2001,MALE,0.0,718968,0.000,0.513,-
...,...,...,...,...,...,...,...,...,...
154339,Yersiniosis,YUBA,2018,MALE,0.0,38838,0.000,9.498,-
154340,Yersiniosis,YUBA,2018,TOTAL,0.0,77494,0.000,4.760,-
154341,Zika Virus Infection,YUBA,2018,FEMALE,0.0,38656,0.000,9.542,-
154342,Zika Virus Infection,YUBA,2018,MALE,0.0,38838,0.000,9.498,-
154343,Zika Virus Infection,YUBA,2018,TOTAL,0.0,77494,0.000,4.760,-

In [31]:
df.dtypes

Disease          object
County           object
Year              int64
Sex              object
Cases           float64
Population        int64
Lower 95% CI    float64
Upper 95% CI    float64
Rate             object
dtype: object

In [32]:
df.iloc[:,:5]

                              Disease   County  Year     Sex  Cases
0                           Amebiasis  ALAMEDA  2001  FEMALE    7.0
1                           Amebiasis  ALAMEDA  2001    MALE    9.0
2                           Amebiasis  ALAMEDA  2001   TOTAL   16.0
3       Anaplasmosis and Ehrlichiosis  ALAMEDA  2001  FEMALE    0.0
4       Anaplasmosis and Ehrlichiosis  ALAMEDA  2001    MALE    0.0
...                               ...      ...   ...     ...    ...
154339                    Yersiniosis     YUBA  2018    MALE    0.0
154340                    Yersiniosis     YUBA  2018   TOTAL    0.0
154341           Zika Virus Infection     YUBA  2018  FEMALE    0.0
154342           Zika Virus Infection     YUBA  2018    MALE    0.0
154343           Zika Virus Infection     YUBA  2018   TOTAL    0.0

[154344 rows x 5 columns]

In [33]:
df.replace('?',np.nan, inplace=True)

In [34]:
df.isnull().sum()

Disease            0
County             0
Year               0
Sex                0
Cases           3742
Population         0
Lower 95% CI    4261
Upper 95% CI    4261
Rate               0
dtype: int64

In [35]:
from sklearn.impute import SimpleImputer

In [36]:
df['Cases']

0          7.0
1          9.0
2         16.0
3          0.0
4          0.0
          ...
154339     0.0
154340     0.0
154341     0.0
154342     0.0
154343     0.0
Name: Cases, Length: 154344, dtype: float64

In [37]:

df['Cases'].value_counts()

0.0       118959
1.0         9247
2.0         3987
3.0         2421
4.0         1562
           ...
393.0          1
322.0          1
2572.0         1
1285.0         1
1775.0         1
Name: Cases, Length: 865, dtype: int64

In [39]:
cases_imputer = SimpleImputer(strategy='most_frequent')
cases_imputer.fit_transform(df[['Cases']])

array([[ 7.],
       [ 9.],
       [16.],
       ...,
       [ 0.],
       [ 0.],
       [ 0.]])

In [44]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [45]:
happy_lbl_encoder = LabelEncoder()
df['Sex'] = happy_lbl_encoder.fit_transform(df['Sex'])

In [48]:

country_hot_encoder = OneHotEncoder()
encoded_country_data = country_hot_encoder.fit_transform(df[['Year']]).toarray()

In [49]:
encoded_country_data

array([[1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [50]:
country_hot_encoder.categories_

[array([2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
        2012, 2013, 2014, 2015, 2016, 2017, 2018], dtype=int64)]